# Apache OpenDAL™ Python Bindings ({{ package_kebab }} {{ package_type }})

![](https://img.shields.io/pypi/v/opendal-{{ package_type }}-{{ package_kebab }}.svg?style=flat-square)
![](https://img.shields.io/pypi/dm/opendal-{{ package_type }}-{{ package_kebab }}.svg?style=flat-square)

## Installation

```bash
pip install opendal-{{ package_type }}-{{ package_kebab }}
```
