# Apache OpenDAL™ Python Bindings ({{ service_kebab }} service)

![](https://img.shields.io/pypi/v/opendal-service-{{ service_kebab }}.svg?style=flat-square)
![](https://img.shields.io/pypi/dm/opendal-service-{{ service_kebab }}.svg?style=flat-square)

## Installation

```bash
pip install opendal-service-{{ service_kebab }}
```
